:root {
  --backgroundMain: #d4d1d1;
  --bodyColor: #f6f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundMain);  
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 90%;
  height: 90%;
  background-color: var(--bodyColor);
  border-radius: 15px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.footer {
  width: 5%;
  height: 100%;
  background-color: #f5f6f5;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem; 
}

.container-section {
  width: 95%;
  height: 100%;
  background-color: #01d0d7;
  border-top-right-radius: 15px;  
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-footer {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;  
  background: none;
}

.icons-footer > .img-footer {
  width: 2.2rem;
  height: 2.5rem;
  padding: 0.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.icons-footer > .img-footer:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top-right-radius: 15px;
  background-color: #cfcfcf;
  box-shadow: 0 0 2px rgb(135, 135, 135);
}

.main-practice {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.main-practice > .products {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #089ae3;
}

.main-practice > .map {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0fe10f;
}

.logo-company {
  width: 40%;
  height: 100%;
  display: flex;  
  justify-content: space-between;
  align-items: center;    
}

.logo-company > img {
  width: 5rem;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
  filter: sepia(0.5);
  margin-left: 1rem;  
  margin-right: 1rem;  
}

.logo-company > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3e1701;  
  margin: 0;
  font-style: oblique;
}

.finder {
  width: 19%;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.finder > input {
  width: 100%;
  height: 50%;  
  border-radius: 10px;
  padding: 0.5rem; 
  margin: 1rem;   
}

.profile {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.profile > img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 50%;
  filter: grayscale(0.5);
}

.profile > div {
  font-size: 3rem;  
  font-weight: bold;  
  background-color: #3e1701;
  margin: 1rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  color: #f6f9f9;
  border-radius: 50%;
}



